{
    "security.workspace.trust.untrustedFiles": "open",
    "diffEditor.ignoreTrimWhitespace": true,
    "editor.lineNumbers": "relative",
    "window.title": "${activeEditorShort}${separator}${rootName}",
    "workbench.activityBar.visible": true,
    "workbench.editor.closeEmptyGroups": false,
    "workbench.editor.labelFormat": "short",
    "workbench.editor.revealIfOpen": true,
    "workbench.editor.showTabs": true,
    "workbench.sideBar.location": "left",
    "workbench.statusBar.visible": true,
}