  - name: (Utilities) Install pure prompt
    npm:
      name: pure-prompt
      global: yes
      state: latest
  - name: (Utilities) Install zsh-syntax-highlighting
    git:
      repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
      dest: ~/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
      update: yes
  - name: (Utilities) Install zsh-autosuggest
    git:
      repo: https://github.com/zsh-users/zsh-autosuggestions.git
      dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
      update: yes

  - name: (Utilities) Install utilities from brew
    homebrew:
      name: ['tree', 'timewarrior']
      state: present

  - name: (Utilities) Install vundle
    git:
      repo: https://github.com/VundleVim/Vundle.vim.git
      dest: ~/.vim/bundle/Vundle.vim
      update: yes
  - name: (Utilities) Install vim plugins
    shell: vim +PluginInstall +qall
    changed_when: False
